# Core
torch>=2.0.0
torchvision>=0.15.0
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
scikit-learn>=1.2.0

# Image & Data
Pillow>=9.0.0
h5py>=3.8.0

# Deep Learning
timm>=0.9.0
tqdm>=4.65.0
transformers>=4.30.0
huggingface_hub>=0.16.0

# MUSK and its dependencies- Install separately
# https://github.com/lilab-stanford/MUSK.git